HOMEPAGE = "{homepage}"
SUMMARY = "{summary}"
DESCRIPTION = "{description}"
LICENSE = "TULIP"
LIC_FILES_CHKSUM = "file://${THISDIR}/COPYING;md5=10ada72850ce1a67ee4037ed05dc6a15"

inherit cargo fix_metarust_linker

GW_REL ?= "master"
SRC_URI += " \
  {project_src_uri};branch=${GW_REL}
"

SRCREV = "${TULIP_REV}"
TULIP_REV = "${AUTOREV}"

S = "${WORKDIR}/git"
CARGO_SRC_DIR = "{project_rel_dir}"

include {name}_${PV}.inc
